html {
  font-family: 'Times New Roman', Times, serif;
}
#headlmo{
	text-align: center;
	height: 75%;
	width: 100%;
	padding-top: 12%;
	position: relative;
}
nav {
  overflow: hidden;
  background-color: rgb(2, 43, 17);
  font-family: 'Times New Roman';
  float: right;
  align-items: center;
  width: 100%;
  margin: 0;
  text-decoration: none;
  height: 60px;
  
  box-shadow: 2px 2px 2px #000000;
}
nav a, nav i{
	text-decoration: none;
}
.topnav {
	font-size: 35px;
	align-items: center;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
}
.topnav h1, h2 {
	align-content: center;
}
.topnav a:link {
	color: #FEFAE0;
}
.topnav a:visited {
	color: #FEFAE0;
}
.topnav a:hover {
	color: #FFFFFF;
}
.topnav .dropdown-content a{
	font-size: 23px;
}
.dropdown {
	overflow: hidden;
}
.dropdown .dropbtn {
  border: none;
  outline: none;
  color: white;
  padding: 18px 18px 0px 16px;
  background-color: inherit;
  font-family: inherit; 
  margin: 0; 
  position: center;
  font-size: 35px;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
}
.topnav a:hover{
 background: rgba(0, 0, 0, 0.4);
 
}
.dropdown-content {
  display: none;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
  z-index: 1;
  left: 44%;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 20px 30px;
  text-decoration: none;
  display: block;
  text-align: center;
  color:rgb(43, 74, 0);
  font-size: 8px;
}
.dropdown-content a:hover {
  background-color: darkgreen;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.abouthead p{
  float: left;
  font-size: 30px;
  padding: 10px 0px 0px 120px;
  margin: 0;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
}
.abouttopnav a {
	left: 0;
	padding: 10px 80px 0px 20px;
	font-size: 20px;
	text-decoration: none;
	height: 0;
	float: right;
}
.abouttopnav ul, 
.abouttopnav li {
	display: inline;
	text-decoration: none;
	text-shadow: 2px 2px 4px #000000;
}
.abouttopnav a:hover {
	background: rbga(0, 0, 0, 0.4);
}
.aboutcontainer a {
  
  color: white;
  text-align: center;
  text-decoration: none;
}

.aboutcontainer .abouttopnav p {
	float: left;
	align-items: center;
	color: white;
  text-align: center;
  text-decoration: none;
	font-size: 20px;
	text-shadow: 2px 2px 4px #000000;
}
.aboutdropdown {
  float: right;
  overflow: hidden;
  margin-top: 0;
  
}
.aboutdropdown .aboutdropbtn a {
	margin: 0;
	padding: 10px 70px 80px 0px;
}
.aboutdropdown .aboutdropbtn {
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 4px #000000;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.aboutdropdown:hover .aboutdropdown-content {
  display: block;
}
.aboutdropdown-content {
  display: none;
  position: absolute;
  background: rgb(255, 255, 255);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
  z-index: 1;
  left: 51%;
  margin-top: -2.5%;
}

.aboutdropdown-content a {
  float: none;
  padding: 20px 22px 40px 26px;
  text-decoration: none;
  display: block;
  text-align: center;
  color:rgb(30, 80, 7);
  text-shadow: 2px 2px 4px #ffffff;
  font-size: 21px;
  font-weight: bolder;
}

.aboutdropdown-content a:hover {
  background-color: darkgreen;
  color: white;
  text-shadow: 2px 2px 4px darkgreen;
}

.aboutdropdown:hover .aboutdropdown-content {
  display: block;
}
header a:link {
	text-decoration: none;
	color:#FEFAE0;
}
header a:visited {
	text-decoration: none;
	color: #FEFAE0;
}
header a:hover {
	text-decoration: none;
	color: #E9D8A6;
}
#headlmo h1, 
#headlmo h2{
	margin-top: 0;
	margin-bottom: 0;
	color: #FEFAE0;
	letter-spacing: 4px;
	padding-top: 0.5em;
	text-align: center;
	display: block;
  text-shadow: 2px 2px rgb(0, 0, 0);
}
#headlmo h1{
	font-size: 80px;
  word-spacing: 20px;
}
#headlmo h2{
	font-size: 45px;
	bottom: 8px;
	padding-bottom: 1.5em;
  word-spacing: 15px;
}
#lmohero{
	background-image: url(images/logo.PNG);
	position: relative;
	top: 10%; 
	left: 30%;
	background-repeat: no-repeat;
}
.sidenav {
  height: 110%; 
  width: 19%; 
  position: absolute; 
  z-index: 1; 
  top: 195px; 
  left: 8px;
  background: rgb(0, 0, 0, 0.5); 
  overflow-x: hidden; 
  padding-top: 10px; 
  transition: 0.5s;
  text-decoration: none;
  
}
.sidenav a{
  padding: 8px 20px 35px 12px;
  font-size: 20px;
  display: block;
  transition: 0.3s;
  text-decoration: none;
  
}
.sidenav a:link {
	text-decoration: none;
	color: #D4C685;
}
.sidenav a:visited {
	text-decoration: none;
	color: #FEFAE0;
}
.sidenav a:hover {
	color: #FFFFFF; 
}

.sidenav li {
	list-style-image: none;
	
}
i{
	padding: 6px 8px 0px 20px;
}	
#lmowrapper {
	background-image: url(images/beebs.jpg);
	color: black;
	position: absolute;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	z-index: 1;
}

#lmowrapper,
.cover{
   background-color: transparent;
   background-size: cover;
   background-attachment: fixed;
   position: relative;
   height: 1000px;
   width: 100%;
   left: 0%;
   top: 0%;
   
}
#lmowrapper .lmooverlay, 
.cover .lmooverlay{
   position: absolute;
   top: 0%;
   bottom: 0%;
   left: 0%;
   right: 0%;
   background: rgba(0, 0, 0, 0.5);
   width: 100%;
  
}
#aboutwrapper{
	background-image: url(images/wind.png);
	position: absolute;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: portrait;
  box-shadow: 6px 6px 2px rgb(0, 0, 0);
  margin:0;
	z-index: 1;
	
}
#aboutwrapper, 
.cover{
   background-color: transparent;
   background-size: cover;
   background-attachment: fixed;
   position: relative;
   height: 1300px;
   width: 100%;
   left: 0%;
   top: 0%;
  
}
#aboutwrapper .aboutoverlay, 
.cover .aboutoverlay{
   position: absolute;
   background: rgba(0, 0, 0, 0.7);
   top: 0%;
   bottom: 0%;
   left: 0%;
   right: 0%;
   width: 100%;
 
}
.aboutcontainer {
  background-color: white;
}

#mainabout .abouthero {
	display: block; 
  text-align: left;
  padding-right: 250px;
  color: rgb(255, 255, 255);
}

#mainabout .abouthero h1 {
	float: right;
	font-size: 60px;
	margin:0;
	padding-right: 30%;
  padding-top: 50px;
  text-shadow: 3px 3px 2px rgb(0, 0, 0);
  color:rgb(255, 255, 255);
}
#mainabout .abouthero p {
	float: right;
	width: 70%;
  padding: 30px 40px 30px 40px;
	font-size: 25px;
	border: 12px ridge rgb(51, 27, 7);
  background:rgba(0, 0, 0, 0.6);
  text-shadow: 2px 2px 4px #000000;
}
#mainabout .aboutgif {
  background-image: url(images/aboutgif.mp4);
  z-index: 2;
}
#contact .form{
	font-size: 90%;
  margin: 0;
  padding-top: 50%;
  padding-left: 10%;
  
}
.form-control {
  padding: 20px 17px 10px 8px;
  width: 50%;
}
.btn {
  padding: 10px 10px 10px 10px;
}
#mainfaq {
  margin:0;
  
}
.faqhero h1 {
  text-shadow: 3px 3px 2px rgb(0, 0, 0);
  color:rgb(255, 255, 255);
  font-size: 60px;
  padding: 0px 300px 60px 0px;
  float: right;
  font-weight: bolder;
  word-spacing: 12px;
}
#mainfaq .aboutcontainer {
  padding: 0px 0px 0px 250px;
  background: transparent;
  padding-top: 10%;
}
.accordion {
  background-color: rgba(136, 131, 131, 0.8);
  border: 4px solid rgba(0, 0, 0, 0.4);
  font-size: 20px;
  cursor: pointer;
  padding: 18px;
  width: 80%;
  text-align: left;
  border: 8px ridge rgb(63,33,7);
  outline: none;
  transition: 0.4s;
  margin: 0;
}
.active, .accordion:hover {
  background-color: #ccc;
  color: rgb(51, 27, 7);
  font-weight: bold;
}
.panel {
  padding: 0px 18px;
  background-color: rgba(2, 43, 17, 0.8);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  width: 76.5%;
}
.panel p{
  color:rgb(255, 255, 255);
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
  font-size: 25px;
}
.accordion:after {
  content: '\02795'; 
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
  
}

.active:after {
  content: "\2796"; 
}
.hikeintro {
  padding: 80px 100px 0px 100px;
  margin: 0;
  
}
.hikeintro h1 {
  text-align: center;
  font-size: 50px;
  letter-spacing: 1px;
  font-weight: bold;
  text-shadow: 3px 3px 2px rgb(0, 0, 0);
  color:rgb(255, 255, 255);
  padding: 0px 20px 20px 20px;
}
.hikeintro p{
  font-size: 23px;
  border: 12px ridge rgb(51, 27, 7);
  background:rgba(0, 0, 0, 0.6);
  text-shadow: 2px 2px 4px #000000;
  color: rgb(255, 255, 255);
  padding: 20px;
  
}
.hikeintro span {
  padding-left: 400px;
}

.polaroid {
  width: 25%;
  background: transparent;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: inline-block;
  padding: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
main .parkimages {
  padding: 0px 25px 0px 0px; 
}
.parkimages {
  float: right;
  width: 88%;
 
}
img {
  height: 180px;
}
.container {
  text-align: center;
  font-size: 20px;
}
.container p {
  color:rgb(255, 255, 255);
  
}
.container a {
  text-decoration: none;
}
#parkwrapper {
  background-image: url(images/bridge.jpg);
	position: absolute;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: landscape;
  box-shadow: 6px 6px 2px rgb(0, 0, 0);
  margin:0;
	z-index: 1;  
}
#mainpark {
  padding: 70px;
  margin: 0;
  
}
#mainpark h1 {
  text-align: center;
  font-size: 50px;
  letter-spacing: 1px;
  font-weight: bold;
  text-shadow: 2px 2px 2px rgb(89, 177, 49);
  color:rgb(0, 0, 0);
  font-weight: bold;
  padding-bottom: 40px;
}
#mainpark p{
  font-size: 30px;
  border: 12px ridge rgb(51, 27, 7);
  background:rgba(0, 0, 0, 0.6);
  text-shadow: 2px 2px 4px #000000;
  color: rgb(255, 255, 255);
  padding: 20px;
  
}
#mainpark span {
  color:rgb(89, 177, 49);
}
#pictures, #grade2  {
  display: inline;
}
 #grade2 {
  word-wrap: break-word;
  display: block;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 2%;
  font-size: 22px;
  border: 2px solid rgba(2, 43, 17, 0.8);
  background-color: rgba(65, 131, 35, 0.6);
  border-radius: 20px;
  padding: 20px;

}
#pictures {
  margin-left: 10%;
  margin-top: -30%;
}
#form1 {
  padding-right: 40px;
  z-index: 1;
  
}
#form1 h1 {
  text-align: center;
  font-size: 40px;
  color: rgb(15, 15, 15);
  text-shadow: 2px 2px 2px rgb(89, 177, 49);
  letter-spacing: 1px;
  padding-left: 35px;
}
#form1 span {
  color:rgb(65, 131, 35);
  text-shadow: 2px 2px 2px rgb(255, 255, 255);
}
#form1 h2 {
  text-align: center;
}
#form1 li {
  display: inline-block;
  padding: 10px 10px 10px 10px;
  background-color: rgba(136, 131, 131, 0.8);
  border: 4px solid rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  box-sizing: border-box;
}
#form1 label {
  display: block;
  font-size: 20px;
  padding-bottom: 20px;
  
}
#form1 label:hover {
  background: rgba(255, 255, 255, 0.5);
  
}
#form1 button {
  float: right;
  font-size: 25px;
  transition-duration: .5s;
}
#form1 button:hover {
  background: rgb(43, 74, 0);
  color: white;
}
#inj_1, #inj_2, #inj_3, #inj_4 {
  width: 10px;
}
#mile_1, #mile_2, #mile_3, #mile_4 {
  width: 10px;
}


#contact h2 {
  font-size: 40px;
  color: #ffffff;
  text-shadow: 2px 2px 4px #000000;
}
#contact .info {
  text-align: left;
  font-size: 40px;
  font-weight: bold;
  color: rgb(51, 27, 7);
  float: right;
  padding-right: 6%;
  margin-top: -25%;
  text-shadow: 2px 2px 4px #ebebeb;
}

footer p{
	float: right;
  text-shadow: 2px 2px 4px #000000;
	color: white;
	font-size: 16px;
	font-style: italic;
	text-align: center;
  font-family: "Times New Roman";
  padding: 3em 2em 1em;
	height: 0;
}

